<nav class="navbar navbar-dark navbar-expand-lg navbar-light bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to 'Contact List', root_url, class: 'navbar-brand' %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if !user_signed_in? %>
        <li class="nav-item active">
          <%= link_to 'Nova Conta', new_user_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-inline">
      <% if !user_signed_in? %>
        <li class="nav-item active">
          <%= link_to 'Entrar', entrar_path, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Bem-vindo, <%= current_user.name %> <span class="caret"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Perfil', current_user, class: 'dropdown-item' %>
              <%= link_to 'Editar', '#', class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <strong><%= link_to 'Sair', sair_path, method: :delete, class: 'dropdown-item out' %></strong>
            </div>
          </li>
      </ul>
    <% end %>
  </div>
</nav>
